.main-header {
  height: var(--header-height);
  background-color: var(--bg-secondary);
  /* Quité el backdrop por problemas de posisionamiento de un elemento hijo en fixed*/
  /* backdrop-filter: blur(15px); */
  box-shadow: var(--gral-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  transition: background 0.3s ease;
  z-index: 1;
}
