body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --gral-radius: 0.5rem;
  --gral-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.907);
  --header-height: 50px;
  --padding-a: 1rem;
  --transition-inherit-color: color 0.3s ease;
}

.dark {
  /* --outline-gral: hsl(117, 79%, 79%); */
  --bg-aside: rgba(13, 13, 13, 0.516);
  --bg-main: #101010;
  --bg-secondary: #222222;
  --bg-circles: hsl(117, 79%, 19%);
  --bg-main-header: rgb(13, 13, 13);
  --bg-mobile-principal-btns: rgb(13, 13, 13);
  --bg-active-element: hsl(117, 79%, 19%);
  --danger-color: crimson;
  --radio-green: hsl(117, 79%, 9%);
  --radio-purple: hsl(271, 73%, 14%);
  --radio-orange: hsl(22, 100%, 17%);
  --radio-normal: #181818;
  --success-color: rgb(73, 228, 42);
  --txt-color: #eeeeee;
  --txt-second-color: #a6a6a6;
  --txt-shadow-color: rgba(0, 0, 0, 0.812);
  --warning-color: rgb(228, 186, 20);
}
.light {
  /* --outline-gral: hsl(117, 79%, 59%); */
  --bg-aside: rgba(251, 251, 251, 0.515);
  --bg-main: #e5e5e5;
  --bg-secondary: #f0f0f0;
  --bg-circles: hsl(117, 79%, 69%);
  --bg-main-header: rgb(251, 251, 251);
  --bg-mobile-principal-btns: rgb(251, 251, 251);
  --bg-active-element: hsl(117, 79%, 69%);
  --danger-color: crimson;
  --radio-green: hsl(117, 100%, 86%);
  --radio-purple: hsl(271, 71%, 86%);
  --radio-orange: hsl(27, 89%, 86%);
  --radio-normal: #e5e5e5;
  --success-color: rgb(73, 228, 42);
  --txt-color: #252525;
  --txt-second-color: #6a6a6a;
  --txt-shadow-color: rgba(205, 205, 205, 0.561);
  --warning-color: rgb(211, 177, 5);
}
.dark.green {
  --bg-main: hsl(120, 100%, 5%);
  --bg-secondary: hsl(114, 54%, 19%);
  --bg-circles: hsl(117, 56%, 39%);
  --bg-main-header: hsl(124, 100%, 10%);
  --bg-mobile-principal-btns: hsl(124, 100%, 10%);
  --bg-active-element: #009f00;
}
.dark.purple {
  --bg-main: hsl(271, 100%, 9%);
  --bg-secondary: hsl(272, 54%, 19%);
  --bg-circles: hsl(271, 73%, 84%);
  --bg-main-header: hsl(280, 100%, 20%);
  --bg-mobile-principal-btns: hsl(280, 100%, 20%);
  --bg-active-element: #7622ca;
}
.dark.orange {
  --bg-main: hsl(22, 97%, 13%);
  --bg-secondary: hsl(22, 100%, 23%);
  --bg-circles: hsl(22, 67%, 53%);
  --bg-main-header: hsl(16, 100%, 30%);
  --bg-mobile-principal-btns: hsl(16, 100%, 30%);
  --bg-active-element: #d54400;
}
.light.green {
  --bg-main: hsl(117, 100%, 86%);
  --bg-secondary: rgb(123, 226, 123);
  --bg-circles: hsl(117, 100%, 26%);
  --bg-main-header: hsl(124, 100%, 80%);
  --bg-mobile-principal-btns: hsl(124, 100%, 80%);
  --bg-active-element: #0add1b;
}
.light.purple {
  --bg-main: hsl(271, 71%, 86%);
  --bg-secondary: hsl(271, 48%, 71%);
  --bg-circles: hsl(271, 71%, 26%);
  --bg-main-header: hsl(280, 100%, 80%);
  --bg-mobile-principal-btns: hsl(280, 100%, 80%);
  --bg-active-element: #a135ff;
}
.light.orange {
  --bg-main: hsl(22, 100%, 86%);
  --bg-secondary: hsl(22, 85%, 69%);
  --bg-circles: hsl(22, 100%, 46%);
  --bg-main-header: hsl(16, 100%, 80%);
  --bg-mobile-principal-btns: hsl(16, 100%, 80%);
  --bg-active-element: rgb(255, 103, 59);
}
#custom {
  --css-rule: 0;
  /* --txt-color: ;
  --outline-gral: ;
  --bg-aside: ;
  --bg-main: ;
  --bg-secondary: ;
  --bg-circles: ;
  --bg-main-header: ;
  --bg-active-element: ;
  --bg-main-header
  --bg-mobile-principal-btns
  */
}
.text-shadow {
  text-shadow: 0 0 5px var(--txt-shadow-color);
  transition: text-shadow 0.3s ease;
}
.scroll::-webkit-scrollbar {
  width: 5px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(196, 196, 196, 0.485);
  border-radius: 5px;
}

.range {
  appearance: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.479);
  padding: 0.2rem;
}
.range::-webkit-slider-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: var(--txt-second-color);
  border-radius: 5px;
  box-shadow: var(--gral-shadow);
}
