.grid-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.grid-container__title {
  margin-bottom: 1rem;
  background-color: var(--bg-secondary);
  border-radius: var(--gral-radius);
  box-shadow: var(--gral-shadow);
  align-self: flex-start;
  padding: 0 1rem;
  transition: background 0.3s ease;
}
